<html>
<head>
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2>Hospitals near you are-</h2>
<table>
<% for(var i=0; i < data.length; i++) { %>
   <tr>
     <td><%= data[i].name %></td>
     <td><%= data[i].contact %></td>
   </tr>
<% } %>
</table>
</body>
</html>
