<html>
<head>
<link href="/main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2>Hospitals near you are-</h2>
<table>
<% for(var i=0; i < data.length; i++) { %>
   <tr>
     <td><%= data[i].name %></td>
     <td><a href="tel:+<%= data[i].contact %>"><%= data[i].contact %></a></td>
     <td><a href="tel:+<%= data[i].contact %>"></td>
   </tr>
<% } %>
</table>
</body>
</html>
